/* --- General --- */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

h1,h2,h3,h4,h5,h6,.centered {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
a {
  color: #008AFF;
}
a:hover,
a:focus {
  color: #0085a1;
}

#accueil{
  width: 60%;
  margin-left: 20%;
}

#cfp:hover{
  color: #105394;
}

#cfp:hover img{
  border-color:#105394;
  border-width: 2px;
  border-style: solid;
}

#evenement:hover{
  color: #e75112;
}
#feedback:hover{
  color: #fff;
}
#feedback:hover span{
  color: #e75112;
}

#evenement:hover img, #feedback:hover{
  border-color:#e75112;
  border-width: 2px;
  border-style: solid;
}
#cfp, #evenement{
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 28px;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
}
#feedback {
  position: relative;
  text-align: center;
  color: #e75112;
  font-size: 28px;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  cursor: pointer;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact-form h1{
  text-align: center;
  color: #e75112;
  font-size: 26px;
  margin-top: 0;
  line-height: 50px;
  opacity: 0.8;
  background-color: #105394;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

@media only screen and (min-width: 768px){
  #cfp{
    float:left;
    width:45%;
  }

  #evenement{
    margin-left: 55%;
    width: 45%;
  }

  #feedback{
    margin-left: 25%;
    width: 50%;
  }
}

#img-header{
  text-align: center;
}

#gif{
  max-height: 200px;
}

#img-header img{
  width: 150px;
}

#img-header h1{
  font-size: 24px;
  margin-top: -10px;
  color: #e75112;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

div{
  margin-bottom: 30px;
}

.orange{
  color: #fff;
  border-width: 0;
  outline: none;
  border-radius: 5px;
  height: 35px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom-width: 3px;
  border-color: #e75112;
  background-color: #e75112;
}
.orange:hover{
  background-color: #105394;
  border-color: #105394;
}

.orange:focus{
  background-color: #105394;
  border-bottom-width: 0px;
  margin-bottom: 3px;
}

#contact-interet{
  width:100%;
}

#contact-form{
  width: 50%;
  margin-left: 25%;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  #contact-form{
    width: 70%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 767px) {
  #contact-form{
    width: 90%;
    margin-left: 5%;
  }

  #feedback{
    margin-left: 20%;
    width: 60%;
  }

  #feedback div, #feedback span{
    font-size: 20px;
  }
}

.contact-cb{
  margin-left: 20px;
}

#contact-form{
  background-color: #e6e6e6;
}

#contact-info{
  padding: 5%;
}
#contact-interet{
  padding: 5%  0  5%  5%;
}
#c-obligatoire{
  font-style: italic;
  font-size: 16px;
  text-align: right;
  margin-bottom: 10px;
}

.contact-cb {
  text-align:left;
  vertical-align:middle;
  line-height:1em;
}
.contact-cb label:hover{
  cursor: pointer;
}
.contact-cb label:before {
  vertical-align:middle;
  content:'';
  display:inline-block;
  visibility:visible;
  width:1em;
  height:1em;
  margin:0em 0.5em 0.3em -1.3em;
  text-align:center;
  border:1px solid #e75112;
}
.contact-cb input:checked+label:before {
  content:'✔';
  color: #105394;
}
.contact-cb input {
  margin:0 !important;
  opacity:0;
  filter:alpha(opacity=0);
  height:1em;
  width:1em;
}

#contact-form select{
  outline: none;
  width: 70%;
  height:40px;

}

.selok{
  border:2px solid #3c763d;
}
.selnotok{
  border:2px solid #a94442;
}

.contact-input {
  height:40px;
  width:100%;
  border: 2px solid #fff;
  border-bottom:2px solid #e75112;
}
.contact-input:focus{
  outline: none;
  border:1px solid #105394;
}

.form-control-feedback{
      margin-top: 4px;
}
.help-block{
  margin-top: -15px;
  min-height: 25px;
}
.has-success input{
  border:2px solid #3c763d;
}
.has-error input{
  border:2px solid #a94442;
}
#cb-error{
  color: #a94442;
  text-align: center;
  margin-top: 0px;
}

.contact-titre, #contact-titre-2{
  color:#105394;
}

#contact-titre-2{
  margin-top: 15%;
}

input:disabled{
  background-color: #DCDAD1;
}

#congrats{
  text-align: center;
}

#congrats h1{
  color: #e75112;
  font-size: 24px;
}
#congrats h2{
  color: #105394;
  font-size: 18px;
}

.hidden{
  display: none;
}

#contact-btn{
  margin-top: 5%;
  text-align: right;
}

button:disabled, button:hover:disabled{
  background-color: #cccccc;
  color: #666666;
  border-width: 0;
  outline: none;
  border-radius: 5px;
  height: 35px;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom-width: 3px;
  border-color: #cccccc;
}

#invalide{
  color: #a94442;
  background-color: #fcf8e3;
  border-color: #faebcc;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
}

#login{
  color: green;
  background-color: #fcf8e3;
  border-color: #faebcc;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 30px;
  padding: 10px;
}

#description-i, #feedback-i{
  min-height: 120px !important;
}

#nomEvent{
  text-align: center;
  color: #105394;
}

#erreurEvent{
  text-align: center;
  color: grey;
  font-style: italic;
  font-size: 12px;
}

#feedbackClick{
  color: #fff;
  font-style: italic;
  font-size: 18px;
}

#txt-feedback1, #txt-feedback2, #txt-feedback3, #txt-feedback4{
  margin-bottom: 5%;
}